html{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
}

body{
    background-color: white;
    margin-top: 32px;
}

.docs h4{
    margin-top: 32px;
}

pre{
    height: 80px !important;
}

code{font-size: .8rem !important;}

.flag{
    font-size: 1rem;
    max-width: 100%;
    background: #FFEDE6;
    border: 2px solid #FFA07A;
    height: 32px;
    text-align: center;
    line-height: 1.7rem;
    border-radius: 4px;
    
    vertical-align: center;
}

@media only screen and (max-width: 768px) {
  .project-links li{
    display: inline-block;
    margin-right: 24px;
  }
}